.image-upload input[type='file'] {
    visibility: hidden;
    width: 0;
    height: 0
}

.image-upload .preview-btn {
    cursor: pointer;
    background-image: url(../img/upload.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.control-label {
    white-space: nowrap;
}

#join-form .input-group-btn {
    vertical-align: top;
}

label.error {
    color: red;
    font-weight: normal;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 0;
}

#menu-container .member-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#menu-container .member-photo-link {
    padding: 7px;
}

.product-list .title-img {
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.product-list a {
    color: #222;
    display: block;
}

.product-list a:hover {
    text-decoration: none;
}

.product-list h3 {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.product-list .price {
    margin-bottom: 5px;
    font-size: 15px;
    color: #222;
}

.product-list .desc {
    font-size: 12px;
    color: #555;
}

.product-list .cancel-price {
    font-size: 13px;
    text-decoration: line-through;
    color: #333;
}

.product-list .sale-price {
    font-size: 15px;
    margin-left: 10px;
    color: #f00;
}